<!-- 通用CSS -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<!-- 通用JS -->
<div th:fragment="footer">
    <script> let rootPath="[[${rootPath}]]";</script>
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>

    <!-- Icons -->
    <script type="text/javascript" th:src="@{/js/feather.min.js}" ></script>
    <script>
		feather.replace()
	</script>
</div>
		

